.Project-card{
    margin-top: 500px;
    margin-left: 100px;
    /* border: 10px solid white; */
}
.App{
    opacity: 120%;
    border: 1px solid white;
    height: 100vh;
    
}



* {
    box-sizing: border-box;
  }
  
  