.first-content{
    margin-top: 30px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}

.intro1{
    text-align: center;
}
.myimg{
    height: 320px;
    width: 250px;
}

.wrapsc{
    color: white;
}

.first-content{
font-family: 'Montserrat';
}
#fc1{
    font-size: 30px;
}
#fc2{
    font-size: 60px;
    font-weight: 600;
    /* line-height: 6px; */
}
#fc3{
    font-size: 20px;
    font-weight: 100;
}
#fc4{
    color: aqua;
}




